@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

* {
  font-family: 'Inconsolata', monospace;
  background-color: #006A6A;  
  font-size: 16px;
  padding: 10px;
}
h1 {
  font-size: 32px;
  color: #B15000;
  background-color:#95D2D2;
  text-align: left;
  padding: 10px;
}
p {
  background-color:#006A6A ;
  padding: 10px;
}
.page {
  border: 1px solid #B15000;
  background-color: #95D2D2;
  padding: 10px;
}