body {
    font-family: sans-serif;
}
header {
    background: navy;
    height: 100px;
    color: white;
}
h1 {
    text-align: center;
    line-height: 100px;
}
article {
    padding: 10px;
    margin: 10px;
    background: lightblue;
}
section {
    display: flex;
}

