body {
    font-family: sans-serif;
}
header {
    background: navy;
    height: 100px;
    color: white;
}
h1 {
    text-align: center;
    line-height: 100px;
}
article {
    padding: 10px;
    margin: 10px;
    background: lightblue;
    flex: 1;
}
section {
    display: flex;
}
ul {
    color: white;
    list-style: none;
    padding-left: 0;
}
li {
    padding: 10px 0;
}
.sidebar {
    padding: 10px;
    margin: 10px 10px 10px 0;
    background: navy;
}
footer {
    background: navy;
    color: white;
    height: 60px;
}

